<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="/movies"></ion-back-button>
    </ion-button>
    <ion-button slot="end" [routerLink]="['/movies', movie.movieID,'edit']">
      <ion-icon name="pencil-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-title>{{movie.title}}</ion-title>
      </ion-col>
      <ion-col>
        <ion-text>{{movie.rate}}/10</ion-text>
        <ion-button>
          <ion-icon name="star-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-img [src]="movie.imgURL"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text>Description</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text>{{movie.description}}</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
