<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/movies"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" [routerLink]="['/movies', movie.movieID,'edit']">
      <ion-icon name="pencil-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-title>{{movie.title}}</ion-title>
      </ion-col>
      <ion-col>
        <ion-text>{{movie.rate}}/10</ion-text>
        <ion-button [routerLink]="['/movies', movie.movieID,'rate']">
          <ion-icon color="warning" name="star"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-img [src]="movie.imgURL"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text>
          <h3>Description</h3>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text><p>{{movie.description}}</p></ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
