<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/movies"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit movie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-col>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Title</ion-label>
            <ion-input [value]="movie.title" #newTitle id="nTitle" name="nT"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Description</ion-label>
            <ion-input [value]="movie.description" #newDesc></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Image URL</ion-label>
            <ion-input type="url" [value]="movie.imgURL" #newImg></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-button (click)="editMovie(newTitle, newDesc, newImg)">Save</ion-button>
  </ion-grid>
</ion-content>
