<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-input type="email" placeholder="Email" [(ngModel)]="user.email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" placeholder="Password" [(ngModel)]="user.password"></ion-input>
      </ion-item>
      <ion-item-divider>
        <ion-button size="large" slot="end" (click)="register()">
          Register
        </ion-button>
      </ion-item-divider>
    </ion-card-content>
  </ion-card>
</ion-content>
