<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-list class="form-input">
        <ion-item>
          <ion-input type="email" placeholder="Email" [(ngModel)]="user.email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" placeholder="Password" [(ngModel)]="user.password"></ion-input>
        </ion-item>
        <ion-item-divider>
          <ion-button size="large" (click)="register()">
            Register
          </ion-button>
        </ion-item-divider>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
